body {
  height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  /* Gradient background */
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
 
     linear-gradient(45deg, #a1c4fd, #c2e9fb);
     linear-gradient(to right, #ff7e5f, #feb47b);
  */
}
